html, body {
    height: 100%;
    width: 100%;
    background-color: #2e2d2d;
  }
  
  * {
    font-family: "Comic neue", cursive;
  }
  
  table {
    border-collapse: collapse;
    width: 400px;
    height: 150px;
  } 
  
  .cabecalho {
    height: 35px;
    color: white;
    background-color: #01987a;
    text-align: left;
  }
  
  .especial {
    color: #0b9a7d;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .negrito {
    font-size: bold;
  }
  
  .definir {
    background-color: #ffffff;
  }
  
  #arredondar-superior-esquerdo {
    border-top-left-radius: 5px;
  }
  
  #arrendodar-inferior-esquerdo {
    border-bottom-left-radius: 5px;  
  }
  
  #arrendondar-inferior-direito {
    border-bottom-right-radius: 5px;  
  }
  
  #arrendondar-superior-direito {
    border-top-right-radius: 5px;  
  }
  
  th {
    padding-left: 10px;
  }
  
  td {
    padding-left: 10px;
  }