:root{
  --title: 4rem;
  --text: 1.5vw;
  --margin-div: 10%;
  --margin-in-div: 5%;
  --border-img: 3px solid black;
}

@font-face {
  font-family: "spartan";
  src: url(league-spartan/LeagueSpartan-Bold.otf) format(opentype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

html {
  /* background-color: #27282e;*/
  background-color:  #F0F5FA;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  /* min-height: 100vh; */
  color: #fefefe;
}

/* .total {

} */

.background {
  position: relative;
}

video {
  top:0;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

header {
  padding: 3rem 0rem 3rem 0rem;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e5e7eb;
  border-radius: 50px;
  padding: 0.5%;
  width: 40vw;
  margin: 1vh auto;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.navigation li {
  flex-grow: 1;
  font-size: large;
  font-weight: bold;
}

.navigation ul :hover {
  color: royalblue;
}

.navigation ul li:hover ul.submenu {
  display: block;
}

.navigation ul ul.submenu {
  width: 12rem;
  position: absolute;
  z-index: 2;
  display: none;
}

.navigation ul ul.submenu li {
  background: black;
  border: 2px solid #e5e7eb;
  border-radius: 50px;
  text-align: center;
}

.navigation ul ul.submenu li a {
  text-decoration: none;
  color: white;
}

.navigation ul li:hover > ul.submenu {
  display: block;
}

.navigation ul li:hover ul.submenu2 {
  display: block;
}

.navigation ul ul.submenu2 {
  width: 12rem;
  position: absolute;
  z-index: 2;
  display: none;
}

.navigation ul ul.submenu2 li {
  background: black;
  border: 2px solid #e5e7eb;
  border-radius: 50px;
  text-align: center;
}

.navigation ul ul.submenu2 li a {
   text-decoration: none;
   color: white;
}

.navigation ul li:hover > ul.submenu2 {
  display: block;
}

/* .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.logo p {
  display: flex;
  font-weight: 700;
  flex-flow: column nowrap;
}

.logo p em {
  font-size: 12px;
  color: lightslategray;
} */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0.5rem;
  height: 70vh;
  font-size: 2vw;
  z-index: 1;
}

.intro span {
  color: rgb(255, 50, 50);
}

main {
  padding: 12rem;
  color: black;
}

.sobre {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-div);
}

.sobre h2 {
  margin-bottom: var(--margin-in-div);
  font-size: var(--title);
}

.caracteristica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 25%;
}

.caracteristica img {
  width: 25%;
  border: var(--border-img);
  border-radius: 50%;
}

.caracteristica p {
  font-size: var(--text);
  letter-spacing: 0.2px;
}

.projetos {
  margin-top: var(--margin-div);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-div);
}

.projetos h2 {
  margin-bottom: var(--margin-in-div);
  font-size: var(--title);
}

.projetos p {
  font-size: var(--text);
  margin-bottom: var(--margin-in-div);
}

.bots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.bots a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.bots a img{
  margin-top: var(--margin-in-div);
  width: 100%;
  border-radius: 50%;
  border: var(--border-img);
}

.conhecimentos {
  margin-top: var(--margin-div);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-div);
}

.conhecimentos h2{
  margin-bottom: var(--margin-in-div);
  font-size: var(--title);
}

.linguagens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10%;
}

.linguagens img {
  margin-top: var(--margin-in-div);
  width: 10vw;
}

.formacao {
  margin-top: var(--margin-div);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-in-div);
}

.formacao h2 {
  margin-bottom: var(--margin-in-div);
  font-size: var(--title);
}

.locais {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.locais a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.locais img {
  margin-top: var(--margin-in-div);
  width: 50%;
  border-radius: 50%;
  border: var(--border-img);
}

.locais p {
  font-size: var(--text);
  margin-top: var(--margin-in-div);
}

footer {
  background-color: hsl(216deg 30.57% 10.97%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 50vh;
}

.autor {
  font-size: var(--title);  
}

.rodape {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin: 3.5% 0;
}

.media {
  display: flex;
  flex-flow: row nowrap;
  margin: 2.5% 0;
}

.media img{
  width: 3.5vw;
}

.direitos-terceiros p a {
  text-decoration: none;
  color: lightgreen;
}

ul {
  list-style: none;
}

/* Perfeito */
/* Valeu Cidcley*/
