html, body {
    height: 100%;
    width: 100%;
  }
  
  .accordion{
    margin: 10px;
    width: 300px;
  }
  
  .accordion-item{
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
  }
  