html, body {
    height: 100%;
    width: 100%;
  }
  
  .card{
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .desaparecer {
    display: none;
  };