html, body {
    height: 100%;
    width: 100%;
  }
  
  .container{
    width: 400px;
    height: 200px;
    text-align: center;
    display: inline-block;
  }
  
  img{
    vertical-align: middle;
    width: 200px;
    height: 200px;
  }
  
  .paragrafo {
    vertical-align: middle;
    line-height: 200px;
  }
  
  .rodape {
    padding: 20px;
  }