html, body {
    height: 100%;
    width: 100%;
  }
  
  #modal{
    margin: 40px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid blue;
    text-align: right;
  }
  
  .conteudo{
    text-align: center;
  }
  
  #close{
    width: 30px;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }