html, body {
  height: 100%;
  width: 100%;
}

.example {
  margin: 50px;
  padding: 30px;
  width: 300px;
  border: 2px solid black;
  background-color: #fefefe;
  border-radius: 10%;
}

footer {
  margin: 50px;
  padding: 30px;
  width: 300px;
  border: 2px solid steelblue;
  background-color: #fefefe;
  border-radius: 5%;
}