html, body {
    height: 100%;
    width: 100%;
  }
  
  .bloco1 {
    width: 400px;
    height: 200px;
    background-color: blue;
    margin-bottom: 30px;
  }
  
  .bloco2 {
    width: 400px;
    height: 200px;
    background-color: red;
  }
  
  footer {
    width: 400px;
    text-align: center;
  }